body{
  background-color: #FFFFF0;
  text-align: center;
  font-family: "Times New Roman"
}
#one{
  font-family: "Times New Roman";
  font-size: 20px;
}
#two{
  font-family: "Times New Roman";
  font-size: 20px;
}
#three{
  font-family: "Times New Roman";
  font-size: 20px;
}

/* Medium devices (Tablets: 768px - 1024px) */
@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Small devices (Mobile phones: 480px - 768px) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Extra small devices (Very small phones: below 480px) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
